<!-- Topics -->
<div class="mb-6">
  <p class="text-lg font-medium text-gray-700 mb-2">Topics</p>
  <div class="flex flex-wrap gap-2">
    <% topicable.topics.each do |topic| %>
      <span class="bg-orange-100 text-orange-600 px-3 py-1 rounded-full text-md font-semibold border border-orange-200">
        <%= topic.name %>
        <%= button_to "x",
              path.call(topic.id),
              method: :delete,
              form_class: "inline-block m-0 p-0",
              class: "ml-2 text-red-800" %>
      </span>
    <% end %>
  </div>
</div>
