<div class="max-w-md mx-auto bg-white p-6 rounded border border-violet-200 mt-12 text-gray-700">
  <p class="mb-4 font-medium">Hello <%= @resource.email %>!</p>

  <p>Your password has been successfully changed.</p>
</div>
